.row{
    margin-left: 10px;
    color: white;
    font-family: Garamond;
    overflow-x: scroll;
}

.posters{
    display: flex;
    padding: 10px;
    
    
}
.row::-webkit-scrollbar{
    display: none;
}

.poster{
    max-height: 200px; 
    margin-right: 5px;
}

.poster:hover{
   /* border: 4px solid;
    border-color: aliceblue;
    background-color: antiquewhite; */
    transform: scale(1.2); 
    cursor: pointer;
}

.smallPoster{
    max-width: 200px;
    max-height: 100px;
    padding-right: 10px;
    
    

}
.smallPoster:hover{
        transform: scale(1.2); 
     cursor: pointer;
 }